# Chặn các thư mục ở Root (ngoài cùng)
/data/
/dummy_data/
/outputs/

# Chặn các file cache của Python ở mọi nơi
__pycache__/
*.pyc
*.pyo
*.pyd

# Chặn các file rác của OS (Tùy chọn)
.DS_Store
Thumbs.db